<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SDAdc_ARCH3D12M10I1R0"
         name="SDAdc_ARCH3D12M10I1R0 Module"
         point="dreisoft.tresos.launcher2.plugin.module">
      <module
            allowMultiple="false"
            categoryCategory="ADC"
            categoryComponent="ECUC"
            categoryLayer="MCAL"
            categoryType="SDAdc"
            description="SDAdc MCAL module"
            id="SDAdc_ARCH3D12M10I1R0"
            label="SDAdc"
            legacy="false"
            mandatory="false"
            relVersionMajor="4"
            relVersionMinor="4"
            relVersionPatch="0"
            relVersionPrefix="AUTOSAR"
            specVersionMajor="4"
            specVersionMinor="4"
            specVersionPatch="0"
            swVersionMajor="1"
            swVersionMinor="0"
            swVersionPatch="1"
            swVersionSuffix="RTM">
           <ecuType target="PA" derivate="CCFC3012PT"/>
      </module>
   </extension>
   <extension
         id="SDAdc_ARCH3D12M10I1R0_ConfigId"
         name="SDAdc_ARCH3D12M10I1R0 Configuration"
         point="dreisoft.tresos.launcher2.plugin.configuration">
      <configuration
            moduleId="SDAdc_ARCH3D12M10I1R0">
         <schema>
            <manager
                  class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager">
            </manager>
            <resource
                  type="xdm"
                  value="config/SDAdc.xdm">
            </resource></schema>
         <data>
            <manager
                  class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager">
            </manager>
            <schemaNode
                  path="ASPath:/ARCH3D12M10I1R0/SDAdc">
            </schemaNode></data>
         <editor
               id="SDAdc_ARCH3D12M10I1R0_EditorId"
               label="Default"
               tooltip="SDAdc BSW module">
            <class
                  class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
               <parameter
                     name="schema"
                     value="ASPath:/ARCH3D12M10I1R0/SDAdc">
               </parameter>
               <parameter
                     name="title"
                     value="SDAdc">
               </parameter>
               <parameter
                     name="noTabs"
                     value="false">
               </parameter>
               <parameter
                     name="noLinks"
                     value="true">
               </parameter>
               <parameter
                     name="groupLinks"
                     value="false">
               </parameter>
               <parameter
                     name="groupContainers"
                     value="false">
               </parameter>
               <parameter
                     name="groupTables"
                     value="true">
               </parameter>
               <parameter
                     name="optionalGeneralTab"
                     value="true">
               </parameter>
            </class>
         </editor>
      </configuration>
   </extension>
   <extension
         id="SDAdc_ARCH3D12M10I1R0GenExt"
         name="Module PlugIn TemplateGenerator"
         point="dreisoft.tresos.launcher2.plugin.generator">
      <generator
            class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator"
            id="SDAdc_ARCH3D12M10I1R0GenExt"
            moduleId="SDAdc_ARCH3D12M10I1R0">
         <parameter
               name="templates"
               value="generate">
         </parameter>
         <parameter
               mode="generate"
               name="UnixLf"
               value="true">
         </parameter>
         <parameter
               mode="verify"
               name="UnixLf"
               value="false">
         </parameter>
         <parameter
               mode="generate"
               name="UnixLf"
               value="false">
         </parameter>
      </generator>
   </extension>

</plugin>
