<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Spi_ARCH3D12M10I1R0_ModuleId"
             name="Spi_ARCH3D12M10I1R0 Module">

    <module
          allowMultiple="false"
          categoryCategory="CAN"
          categoryComponent="ECUC"
          categoryLayer="MCAL"
          categoryType="Spi"
          description="Spi BSW module"
          id="Spi_ARCH3D12M10I1R0"
          label="Spi"
          legacy="false"
          mandatory="false"
          relVersionMajor="4"
          relVersionMinor="4"
          relVersionPatch="0"
          relVersionPrefix="AUTOSAR"
          relVersionSuffix="0003"
          specVersionMajor="1"
          specVersionMinor="0"
          specVersionPatch="1"
          swVersionMajor="1"
          swVersionMinor="0"
          swVersionPatch="1"
          swVersionSuffix="RTM">
      <ecuType target="PA" derivate="CCFC3012PT"/>
    </module>
    </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Spi_ARCH3D12M10I1R0_ConfigId"
             name="Spi_ARCH3D12M10I1R0 Configuration">
    <configuration moduleId="Spi_ARCH3D12M10I1R0">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
          <!-- register the main xdm configuration schema for Can -->
          <resource value="config/Spi.xdm" type="xdm"/>




      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/ARCH3D12M10I1R0/Spi"/>
      </data>

      <editor id="Spi_ARCH3D12M10I1R0_EditorId"
              label="Default"
              tooltip="Spi BSW module">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/ARCH3D12M10I1R0/Spi"/>
          <parameter name="title" value="Spi"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

 <extension point="dreisoft.tresos.launcher2.plugin.generator"
             id="EPCGenerator"
             name="EPC Generator">
  <generator moduleId="Spi_ARCH3D12M10I1R0"
               id="Spi_ARCH3D12M10I1R0"
               class="dreisoft.tresos.autosar2.generator.EPCFileGenerator">
  <parameter name="cfgFilePath" value="output"/>
  <parameter name="generateAllModules" value="false"/>
  <parameter name="generateIntoOneFile" value="false"/>
  <parameter name="contentType" value="asc:4.4.0"/>
  </generator>
 </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Spi_ARCH3D12M10I1R0_GeneratorId"
              name="Spi_ARCH3D12M10I1R0 Generator">
    <generator moduleId="Spi_ARCH3D12M10I1R0"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">

      <!-- common template path parameters -->
      <parameter name="templates" mode="generate,verify" value="generate"/>
      <!-- custom generators -->
      <!-- custom template paths -->
      <parameter name="mode_type" mode="generate" value="generate"/>
    </generator>
  </extension>
 
  <extension point="org.eclipse.help.toc">
    <toc file="anchors.xml" primary="true"/>
    <toc file="$nl$/Spi/toc.xml" primary="false"/>
    <!-- toc file="$nl$/ReleaseNotes/toc.xml" primary="false"/ !-->
  </extension>
</plugin>
